
// Написание комментария
@import "mixins";
@import "variables";



@font-face {
    font-family: 'Montserrat';
    src: 
        url('./my-fonts-cirill/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


h1{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}
h2{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}
h3{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}
h4{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}
h5{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}
h6{
    font-family: Montserrat;
    font-weight: 300;
    color: white;
}

#heading{
    position: absolute;
    z-index: 3;
    left: 20%;
    top:250%;
}

// #big_text{

// }

*{
    padding: 0;
    margin: 0;
    
}

.fon {
    z-index: 1;
    position: absolute;
    top: 10%;
    left:10%;
    right: 10%;
    bottom: 10%;
}
.text {
    z-index: 2;
    // top: 10%;
    // left:10%;
    // right: 10%;
    // bottom: 10%;
    position: absolute;
}
// table {
//     border: #191919;
    
    
//}


// @include link(rgb(20, 13, 13),rgb(32, 30, 30),blue,green);

// .header{
//     @include link(rgb(20, 13, 13),rgb(151, 145, 145),blue,green){
//         background: rgb(207, 230, 8);
//     };
// }

a{
    @include font();
    @include link(rgb(20, 13, 13),rgb(19, 17, 17),blue,green);
}

// .block:not(.first){
//     @include padd(300px 200px 300px 140px);
//     background: $bgcolor;
//     height: 200px;
//     margin-bottom: 20px;
//     width: $blockWidthProcent;
//     border: $border;
//     color: #ccc;

// }
// .first{
//     background: $bgcolor;
//     height: 200px;
//     margin-bottom: 20px;
//     width: $blockWidth;
    
// }

// #grid {
//     float: left;
//     width: 100%;
//     > div {
//         @include grid(6,5%);
//     }
// }

// @for $i from 24 to 29 {
//     .#{$someVar}-#{$i}{
//         width: 50px + $i;
//         height: 50px + $i;
//     }
// }


// #central_block {
//     padding: 30px;

//     ul {
//         display: inline-block;
        
//         color: rgb(190, 221, 13);
//     }

//     li {
//         float: left;
//         margin-right: 10px;
//         width: (100% / 4 - 1%)
        
//     }
//     a {
//         @include font(blue,bold);
//         //color: green;
//         &:hover{
//             color: rgb(192, 166, 166);
//         }
//     }

//     // a:hover {
//     //     color: red;
//     // }

// }
// a {
//     @include font();
// }

// #central_block > ul {
//     list-style: none;
// }