
// Написание комментария
@import "mixins";
@import "variables";



*{
    padding: 0;
    margin: 0;
    background: #191919;
}

table {
    border: #191919;
    
}
body {
    background-color: #191919;
    background: #dfd5d5;
}

// @include link(rgb(20, 13, 13),rgb(32, 30, 30),blue,green);

// .header{
//     @include link(rgb(20, 13, 13),rgb(151, 145, 145),blue,green){
//         background: rgb(207, 230, 8);
//     };
// }

// a{
//     @include font();
//     // @include link(rgb(20, 13, 13),red,blue,green);
// }

// .block:not(.first){
//     //@include padd(300px 200px 300px 140px);
//     background: $bgcolor;
//     height: 200px;
//     margin-bottom: 20px;
//     width: $blockWidthProcent;
//     border: $border;
//     color: #ccc;

// }
// .first{
//     background: $bgcolor;
//     height: 200px;
//     margin-bottom: 20px;
//     width: $blockWidth;
    
// }

// #grid {
//     float: left;
//     width: 100%;
//     > div {
//         @include grid(6,5%);
//     }
// }

// @for $i from 24 to 29 {
//     .#{$someVar}-#{$i}{
//         width: 50px + $i;
//         height: 50px + $i;
//     }
// }


// #central_block {
//     padding: 30px;

//     ul {
//         display: inline-block;
        
//         color: rgb(190, 221, 13);
//     }

//     li {
//         float: left;
//         //margin-right: 10px;
//         width: (100% / 4 - 1%)
        
//     }
//     a {
//         @include font(blue,bold);
//         //color: green;
//         &:hover{
//             color: rgb(192, 166, 166);
//         }
//     }

//     // a:hover {
//     //     color: red;
//     // }

// }
// // a {
// //     @include font();
// // }

// #central_block > ul {
//     list-style: none;
// }